.movie-image {
    width: 200px;
    max-height: 150px;
    border-radius: 8px;
    margin-inline: 13px;
    
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: #1b1717 !important;
  }
  
  @media screen and (max-width: 767px) {
    .movie-image {
      width: 140px;
      height: 94px;
      margin-left: 0;
    }
  }

.slider{
    background-color: #1b1717;
}